
<div class="edit-profile-container">
  <h1>プロフィール編集</h1>

  <%= form_with(model: @user, local: true) do |f| %>

   <!-- アバター画像フィールドを追加 -->
    <div class="form-group">
      <%= f.label :avatar, 'プロフィール画像' %>
      <%= f.file_field :avatar %>
      <% if @user.avatar? %>
        <div class="current-avatar">
          <p>現在の画像</p>
          <%= image_tag @user.avatar.thumb.url %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :username, 'ユーザー名' %>
      <%= f.text_field :username %>
    </div>

    <div class="form-group">
      <%= f.label :introduction, '自己紹介' %>
      <%= f.text_area :introduction %>
    </div>

    <div class="form-group">
      <%= f.label :address, '住所' %>
      <%= f.text_field :address %>
    </div>

    <div class="form-group">
      <%= f.label :contact, '連絡先' %>
      <%= f.text_field :contact %>
    </div>

    <div class="form-group">
      <%= f.label :profile_visibility, 'プロフィールを公開する' %>
      <%= f.check_box :profile_visibility %>
    </div>

    <div class="form-actions">
      <%= f.submit '更新する', class: 'update-button' %>
      <%= link_to '戻る', user_path(@user), class: 'back-button' %>
    </div>
  <% end %>
</div>
