<div class="profile-container">
  <h1>プロフィール</h1>

  # app/views/users/show.html.erb
  <div class="profile-avatar">
    <% if @user.avatar.present? %>
      <%= image_tag @user.avatar.url, alt: "#{@user.username}のプロフィール画像" %>
    <% else %>
      <%= image_tag @user.avatar.default_url, alt: "デフォルトプロフィール画像" %>
    <% end %>
  </div>

  <div class="profile-content">
    <div class="profile-item">
      <strong>ユーザー名:</strong>
      <%= @user.username %>
    </div>

    <div class="profile-item">
      <strong>自己紹介:</strong>
      <%= @user.introduction %>
    </div>

    <% if @user == current_user || @user.profile_visibility? %>
      <div class="profile-item">
        <strong>住所:</strong>
        <%= @user.address %>
      </div>

      <div class="profile-item">
        <strong>連絡先:</strong>
        <%= @user.contact %>
      </div>
    <% end %>

    <% if @user == current_user %>
      <%= link_to 'プロフィールを編集', edit_user_path(@user), class: 'edit-button' %>
    <% end %>
  </div>
</div>